@font-face {
   font-family: "";
   src: url() format("eot");
   font-style: normal;
   font-weight: bold;
}

@font-face {
   font-family: "";
   src: url() format("woff");
   font-style: normal;
   font-weight: bold;
}

@font-face {
   font-family: "";
   src: url() format("woff2");
   font-style: normal;
   font-weight: bold;
}
